/* SCSS Compiled */
@import "global/reset.scss";
@import "global/mixins.scss";
@import "global/var.scss";
@import "global/styles.scss";

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg-stars.svg');
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
    flex: 1 1 auto;
    background-color: #201E29;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    @media (max-width: 767px) {
        width: 80%;
        margin-top: 150px;
    }
    @media (max-width: 464px) {
       font-size: 18px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    &__img {
        background-image: url('../images/pattern-hills.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__item {
        cursor: pointer;
        transition: 200ms;
        transition-timing-function: ease-in-out;
        &:hover {
            fill: #D05172;
        }
        &-top {
            margin: 0 20px;
        }
    }
}

.timer {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 80%;
    align-items: center;
    @media (max-width: 767px) {
        justify-content: space-between;
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: #34364F;
        border-radius: 5px;
        box-shadow: 15px 11px 36px -1px rgba(0, 0, 0, 0.39);
        @media (max-width: 767px) {
            width: 70px;
            height: 70px;
        }
        @media (max-width: 464px) {
            width: 60px;
            height: 60px;
        }
    }
    & span {
        display: block;
        font-size: 60px;
        color: #C75171;
        @media (max-width: 767px) {
            font-size: 42px;
        }
    }
    &__block {
        margin-right: 20px;
    }
    &__caption {
        display: block;
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
        letter-spacing: 3px;
        color: #696969;
        @media (max-width: 767px) {
            font-size: 10px;
        }
        @media (max-width: 464px) {
            font-size: 8px;
         }
    }
}